#p1 {
    color : white;
    border: 1px solid rgb(22, 55, 163);
    padding: 1px 5px;
    border-radius: 50px;
    background-color:  rgb(22, 55, 163);
}

.texto {
    color : white;
    border: 1px solid rgb(22, 55, 163);
    padding: 1px 5px;
    border-radius: 50px;
    background-color:  rgb(22, 55, 163);
}

#sec1{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(214, 228, 245);
    border: 5px rgb(214, 228, 245);
   
}

hr{
    height: 15px;
    border-color:darkorange;
    background-color: rgb(250, 214, 12);
}


.b-azul{
    height: 5px;
    border-color: blue;
    background-color: mediumblue;
}


table{
    height: 300px;
    border-collapse: collapse;
}


td{
    border: 1px solid black;
    padding:10px;
}


td.table2{
    border: 1px solid black;
    padding:4px;
}


tr.linha1{
    background-color:rgb(207, 207, 207);
}


tr.linha2{
    background-color:rgb(182, 208, 255);
}


tr.linha3{
    background-color:rgb(207, 207, 207);
}


tr.linha4{
    background-color: rgb(190, 195, 209);
}


tr.linha5{
    background-color:rgb(182, 208, 255);;
}


td.dado{
    background-color: rgb(12, 73, 187);
}


td.dado1{
    background-color: rgb(207, 207, 207);
}


td.dado2{
    background-color:rgb(190, 195, 209);
}


td.dado3{
    background-color:rgb(153, 170, 216);
}


#div1, #div2{
    float: left;
    margin: 13px;
}


#divA, #divB{
    float: left;
    margin: 13px;
}


p.um, p.dois{
    display: inline;
}
p.tres, p.quatro{
    display: inline;
}
p.cinco, p.seis{
    display: inline;
}
p.sete, p.oito{
    display: inline;
}
p.nove, p.dez{
    display: inline;
}
p.onze, p.doze{
    display: inline;
}
p.treze, p.quatorze{
    display: inline;
}
p.quinze, p.dezesseis{
    display: inline;
}

